@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


h1 {
  color: blue;
}

.paragraph-1 {
  /* color */
  background-color: rgba(205, 219, 7, 0.212);
  color: rgba(0, 0, 0, 0.651);

  /* text in the box & size */
  padding: 15px;
  text-align: center;
  font-size: 18px;
  

  /* box & border */
  border: 2px solid black;
  box-shadow: 20px 10px 5px gray;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 70vw;

  /* Fonts */
  font-size: 17px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

#first {
  /* color */
  background-color: rgba(219, 7, 208, 0.212);
  color: rgba(0, 0, 0, 0.651);

  /* text in the box & size */
  padding: 30px 50px 50px 15px;
  margin: 100px 10px 10px 100px;
  text-align: center;
  font-size: 18px;

  /* box & border */
  border:;
  box-shadow: 20px 10px 5px gray;
  border-radius: 15px;
  box-sizing: content-box;
  width: 100%;
  max-width: 70vw;

  /* Fonts */
  font-size: 17px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

p.paragraph-2#second {
  /* color */
  background-color: rgba(7, 57, 219, 0.212);
  color: rgba(0, 0, 0, 0.651);

  /* text in the box & size */
  padding: 15px;
  text-align: center;
  font-size: 18px;

  /* box & border */
  border: 2px solid black;
  box-shadow: 20px 10px 5px gray;
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
  max-width: 70vw;

  /* Fonts */
  font-size: 17px;
  font-weight: 500;
  font-family: Inter, sans-serif;
}

.king {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 255);
  border: 2px solid rgb(255, 255, 0);
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgb(0, 0, 0);
  text-align: center;
  font-family: 'Verdana', Geneva, Tahoma, sans-serif;
  font-size: xx-large;
  position: sticky;
  top: 0;
}
.kong {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(0, 255, 0);
  border-radius: 25px;
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: xx-large;
  position: relative;
}
.lucky {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(255, 0, 0);
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: x-large;
  height: 25px;
  position: fixed;
  top: 0;
  right: 0;
}
.parent {
  height: 200px;
  background-color: rgb(47, 0, 255);
  position: sticky;
  top: 0;
}
.child {
  width: 64px;
  height: 64px;
  background-color: green;
  position: absolute;
  bottom:;
  right: 0;
  top: 0;
}

.hiddenValue {
  color: rgb(0, 0, 0);
  background-color: rgb(51, 255, 0);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(211, 17, 17);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  padding: 50px 1px 50px 15px;
  margin: 30px 200px 10px 40px;
}

@media (max-width: 480px) {
  .title {
    font-size: 32px;
    background-color: lightblue;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  .paragraph-1 {
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 40px;
    background-color: lightgreen;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
  }

  .paragraph-1 {
    font-size: 18px;
    padding: 15px;
    box-sizing: border-box;
  }
}

button.keren {
  color: white;
  background-color: purple;
  border-radius: 12px;
  box-shadow: 5px 5px 5px gray;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  padding: 10px 20px;
  cursor: pointer;
  transition: 300ms;
}
button.keren:hover {
  background-color: violet;
  box-shadow: 8px 8px 8px gray;
  transform: scale(0.95);
}

.animasi {
  padding: 200px;
  display: inline-block;
  animation: pointdown 1s infinite;
}

p {
  animation: pointdown 2s infinite;
}

@keyframes pointdown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} 